:root {
  --primary: #74e7dc;
  --primary-dark: #09afaf;
  --primary-light: #010606;
  --primary-text: #ffffff;
}

html {
  background-color: var(--primary);
}

h1 {
  font-size: 44px;
  margin: 0;
  background-color: var(--primary-dark);
  color: var(--primary-text);
  padding: 8px;
}

h2 {
  font-size: 38px;
  color: var(--primary-text);
}

.center {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: center;
}

.player {
  margin: 10px;
  width: 220px;
  height: 220px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-text);
  color: var(--primary-text);
}

.score {
  padding: 1px;
  font-size: small;
  font-weight: bold;
  background-color: var(--primary-dark);
  font-size: 24px;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: var(--primary);
}

.round-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  margin: 2px;
  cursor: pointer;
  background-color: var(--primary-dark);
  color: var(--primary-text);
}

.round-btn:hover {
  background-color: var(--primary-light);
}
